<div class="monthly" id="mycalendar">
  <div class="monthly-header">
    <div class="monthly-header-title">
      {{ firstdate.month_name }}, {{ firstdate.ne_year }}
    </div>
    {% if prevmonth %}
    <a href="{% url 'calendar:calendar' prevmonth.year prevmonth.month %}" class="monthly-prev"></a>
    {% endif %}
    {% if nextmonth %}
    <a href="{% url 'calendar:calendar' nextmonth.year nextmonth.month %}" class="monthly-next"></a>
    {% endif %}
  </div>
  <div class="monthly-day-title-wrap">
    {% for weekday in nepcal_values.NEPALI_WEEKDAY_NAMES_SHORT_NE.items %}
      <div class="{% if weekday.0 == 6 %} holiday {% endif %}">
        {{ weekday.1 }}
      </div>
    {% endfor %}
  </div>
  <div class="monthly-day-wrap">
    {% for week in monthlycalendar %}
      <div class="monthly-week">
        {% for day in week %}
          <div class="
            {% if day.month != firstdate.month %}
              m-d monthly-day-blank
            {% elif day == today %}
              m-d monthly-day-today
            {% else %}
              m-d monthly-day
            {% endif %}

            {% if day.is_holiday %} holiday {% endif %}">

            <div class="monthly-day-number hidden-xs">
              {% if day.en_date.day == 1  or day.day == 1%}
                {{ day.en_date | date:"N j"}}
              {% else %}
                {{ day.en_date.day }}
              {% endif %}
            </div>

            <div class="monthly-day-nep">
              {{ day.ne_day }}
            </div>

            {% if showtithi %}
            <div class="monthly-day-tithi hidden-xs hidden-sm">
              {{ day.ne_tithi_name }}
            </div>
            {% endif %}

            <div class="monthly-day-events hidden-xs hidden-sm">
              {% for event in day.events_name %}
              {{ event }}<br/>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <div class="monthly-indicator-wrap"></div>
      </div>
    {% endfor %}
  </div>
</div>
