<div class="monthly" id="mycalendar">
  <div class="monthly-header">
    <div class="monthly-header-title">
      {{ firstdate.month_name }}, {{ firstdate.ne_year }}
    </div>
    <a href="{% url 'calendar:calendar' prevmonth.year prevmonth.month %}" class="monthly-prev"></a>
    <a href="{% url 'calendar:calendar' nextmonth.year nextmonth.month %}" class="monthly-next"></a>
  </div>
  <div class="monthly-day-title-wrap">
    {% for weekday in nepcal_values.NEPALI_WEEKDAY_NAMES_SHORT_NE.items %}
    {% if weekday.0 == 6 %}
    <div class="holiday">
      {% else %}
      <div>
        {% endif %}
        {{ weekday.1 }}
      </div>
      {% endfor %}
    </div>

    <div class="monthly-day-wrap">

      {% for week in monthlycalendar %}
      <div class="monthly-week">
        {% for day in week %}

        {% if day.month != firstdate.month %}
        <div class="m-d monthly-day-blank">
          {% else %}
          <div class="m-d monthly-day monthly-day-event {% if day.weekday == 6 %} holiday {% endif %}">
            {% endif %}
            <div class="visible-sm hidden-xs visible-md visible-lg">
              <div class="monthly-day-number">
                {% if day.en_date.day == 1  or day.day == 1%}
                {{ day.en_date | date:"N j"}}
                {% else %}
                {{ day.en_date.day }}
                {% endif %}
              </div>
            </div>

            <div class="monthly-day-nep {% if day.weekday == 6 %} holiday {% endif %}">
              {{ day.ne_day }}
            </div>
          </div>

          {% endfor %}
          <div class="monthly-indicator-wrap"></div>
        </div>

        {% endfor %}

      </div>

