{% extends "base.html" %}{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row mar-b-50">
    <div class="col-md-12">
      <div class="text-center feature-head">
        <h1> welcome to NepaliCalendar </h1>
      </div>


      <div class="feature-box">
        <div class="col-md-4 col-sm-4 text-center">
          <div>
            <i class="fa fa-calendar fa-5x"></i>
            <h4>
              <b>Free to use Tools</b>
            </h4>
          </div>
          <p class="text-center">
          Nepalicalendar.net provides a wide range of Nepali Calendar related tools for free.
          </p>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div>
            <i class="fa fa-gears fa-5x"></i>
            <h4>
              <b>Nepali Calendar API</b>
            </h4>
          </div>
          <p class="text-center">
          You can use our free API to get access to a wide range of Nepali Calendar functions.
          </p>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div>
            <i class="fa fa-github fa-5x"></i>
            <h4>
              <b>Open Source</b>
            </h4>
          </div>
          <p class="text-center">
          This entire website is open source and is hosted publicly in github.
          </p>
        </div>
      </div>

      <!--feature end-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% include 'nepcal/monthlycalendar.html' %}
    </div>
  </div>
</div>

{% endblock content %}
