{% extends "base.html" %}{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row mar-b-50">
    <div class="col-md-12">
      <div class="text-center feature-head">
        <h1> welcome to NepaliCalendar </h1>
      </div>


      <div class="feature-box">
        <div class="col-md-4 col-sm-4 text-center">
          <div>
            <i class="fa fa-calendar fa-5x"></i>
            <h4>
              <b>Free to use Calendar</b>
            </h4>
          </div>
          <p class="text-center">
          NepaliCalendar is an open source project
          </p>
        </div>

        <div class="col-md-4 col-sm-4 text-center">
          <div>
            <i class="fa fa-gears fa-5x"></i>
            <h4>
              <b>Nepali Calendar API</b>
            </h4>
          </div>
          <p class="text-center">
          Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
          </p>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
          <div>
            <i class="fa fa-github fa-5x"></i>
            <h4>
              <b>Open Source</b>
            </h4>
          </div>
          <p class="text-center">
          Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
          </p>
        </div>
      </div>

      <!--feature end-->
    </div>
  </div>
</div>

{% endblock content %}
